<!-- Button trigger modal -->
<button class="btn btn-secondary m-1" data-toggle="modal" (click)="openModal()">Edit</button>

<!-- Modal -->
<div class="modal fade" [class.modal__show]="isOpenModal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit menu item</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Menu form group > start -->
                <form action="" id="menuFormGroup" [formGroup]="menuFormGroup">
                    <div class="form-group">
                        <!-- Name input -->
                        <div class="mt-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" [class.border-danger]="menuFormGroup.controls['name'].invalid && menuFormGroup.controls['name'].touched" name="name" id="name" aria-describedby="name" placeholder="Enter your name" formControlName="name">
                            <div *ngIf="menuFormGroup.controls['name'].touched">
                                <small id="name" class="form-text text-danger" *ngIf="menuFormGroup.controls['name'].hasError('required')">This field is required.</small>
                            </div>
                        </div>

                        <!-- Slug input -->
                        <div class="mt-2">
                            <label for="slug">Slug</label>
                            <input type="text" class="form-control" [class.border-danger]="menuFormGroup.controls['slug'].invalid && menuFormGroup.controls['slug'].touched" name="slug" id="slug" aria-describedby="slug" placeholder="Enter slug" formControlName="slug">
                            <div *ngIf="menuFormGroup.controls['slug'].touched">
                                <small id="slug" class="form-text text-danger" *ngIf="menuFormGroup.controls['slug'].hasError('required')">This field is required.</small>
                                <small id="slug" class="form-text text-danger" *ngIf="menuFormGroup.controls['slug'].hasError('pattern')">The slug you've entered is not valid.</small>
                                <small id="slug" class="form-text text-danger" *ngIf="menuFormGroup.controls['slug'].hasError('slugExists')">The slug you've entered already exists.</small>
                            </div>
                        </div>

                        <!-- Size select options -->
                        <div class="mt-2">
                            <label for="size">Size</label>
                            <select class="form-control form-control" [class.border-danger]="menuFormGroup.controls['size'].invalid && menuFormGroup.controls['size'].touched" name="size" id="size" formControlName="size">
                                <option :value="null" selected disabled>Please choose the size</option>
                                <option *ngFor="let size of menuSizeOptions" :value="{{ size }}">{{ size }}</option>
                            </select>
                            <div *ngIf="menuFormGroup.controls['size'].touched">
                                <small id="slug" class="form-text text-danger" *ngIf="menuFormGroup.controls['size'].hasError('required')">This field is required.</small>
                            </div>
                        </div>

                        <!-- Price input -->
                        <div class="mt-2">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" [class.border-danger]="menuFormGroup.controls['price'].invalid && menuFormGroup.controls['price'].touched"  [class.border-danger]="menuFormGroup.controls['price'].invalid && menuFormGroup.controls['price'].touched" name="price" id="price" aria-describedby="price" placeholder="Pizza price" formControlName="price">
                            <div *ngIf="menuFormGroup.controls['price'].touched">
                                <small id="price" class="form-text text-danger" *ngIf="menuFormGroup.controls['price'].hasError('required')">This field is required.</small>
                                <small id="price" class="form-text text-danger" *ngIf="menuFormGroup.controls['price'].hasError('min')">Minimal price is {{ minimalPrice }}.</small>
                            </div>
                        </div>

                        <!-- Hidden date input -->
                        <input type="datetime" name="date" id="date" formControlName="date" hidden>
                    </div>
                </form>

                <!-- Menu form group > end -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="editMenuItem()">Update</button>
            </div>
        </div>
    </div>
</div>